<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @membership.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @membership.user_id %>
</p>

<%= link_to 'Edit', edit_membership_path(@membership) %> |
<%= link_to 'Back', memberships_path %>
